:root{
    --coin-slot-width: 12em;
    --coin-image-margin: 0.75em;
    --move-button-container-width: 1.5em;
    --coin-slot-item-margin-percentage: 1%; 
}

@font-face {
    font-family: 'ROBOTO-MONO';
    src: url('../../fonts/RobotoMono-VariableFont_wght.ttf') format('ttf');
}

.ticker-entry{
    grid-area: t;
}

.coin-slot-inner-container{
    font-family: 'ROBOTO-MONO';
    height: 100%;
    margin: 0 0;
    display: grid;
    gap: 0.25em 0.25em;
    grid-template: 
        "r t t t t f f" 20%
        "i i a a a a a" 80%;
}

.move-button-container{
    width: 20%;
}

.remove-button{
    grid-area: r;
}

.column{
    display: flex;
    flex-direction: column;
}

#background-image{
    grid-area: i;
    object-fit: cover;
    width: 75%;
    margin: 0 auto;
    margin-top: 5%;
}

.change-coin-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.coin-slot-options{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo-chooser{
    grid-area: f;
}

.address-entry-container{
    display: flex;
    flex-direction: column;
}

.address-entry{
    grid-area: a;
    height: 85%;
}

.closed{
    display: none;
}

.address-entry-label::before{
    width: 0; 
    height: 0; 
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    
    border-bottom: 1px solid black;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    margin: 5px;
    content: " ";
}

.address-label-area{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.down{
    transform:rotate(45deg);
    content: " ";
}
.right{
    transform:rotate(-45deg);
    content: " ";
}

textarea{
    resize: none;
}

.invalid-address{
    color: red;
    border: 1px solid red;
    font-weight: bold;
}

.address-entry-label:hover{
    cursor:pointer;
}

.select-area{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

span{
    resize: none;
    outline: none;
    min-height: 20px;
    line-height: 20px;
    padding: 8px 8px 4px 8px;
    border: 1px solid #708090;
    display: inline-block;
    width: 15em;
}

span:before {
    content: attr(value);
    color: #aaa; 
}

.custom-ticker-entry{
    width: 94%;
}

.horizontal {
    display: flex;
    flex-direction: row;
}
.vertical {
    display: flex;
    flex-direction: column;
}