:root{
    --coin-slot-width: 8em;
}

.dropdown-menu{
    height: 1.6em;
}

.coin-slot{
    margin: 1em auto;
    border: 1px solid black;
    padding: 0.6em;
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.change-coin-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.coin-slot-options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: inherit;
    max-width: 8.6em;
}

.logo-chooser{
    color: rgba(0,0,0,0);
}

.address-entry-container{
    display: flex;
    flex-direction: column;
}

.closed{
    display: none;
}

.address-entry-label::before{
    width: 0; 
    height: 0; 
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    
    border-bottom: 1px solid black;
}

.coin-image{
    width: 3em;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    margin: 5px;
    content: " ";
}

.address-label-area{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.down{
    transform:rotate(45deg);
    content: " ";
}
.right{
    transform:rotate(-45deg);
    content: " ";
}

textarea{
    resize: none;
}

.invalid-address{
    color: red;
    border: 3px solid red;
    font-weight: bold;
}

.address-entry-label:hover{
    cursor:pointer;
}

.select-area{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

span{
    resize: none;
    outline: none;
    min-height: 20px;
    line-height: 20px;
    padding: 8px 8px 4px 8px;
    border: 1px solid #708090;
    display: inline-block;
    width: 15em;
}

span:before {
    content: attr(value);
    color: #aaa; 
}

.custom-ticker-entry{
    width: 94%;
}