:root{
  --coin-slot-container-width: 14.4em;
  --num-columns: 1;
}

.App {
  text-align: center;
}

.app-box{
  width: fit-content;
  border: 1px solid rgb(0, 0, 0);
  max-width: 73em;
  margin: 0 auto;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.coin-list-container{
  width: fit-content;
  max-width: 73em;
  margin: 0 auto;
}

.hidden{
  display: none;
}

.coin-list{
  width: calc(var(--coin-slot-container-width) * var(--num-columns));
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(var(--num-columns), var(--coin-slot-container-width));
  gap: 0.25em;
}
