:root{
  --coin-slot-container-width: 6em;
  --coins-list-container-padding: 2em;
  --num-columns: 1;
}

.center{
  margin: 0 auto;
}
  
.coin-slot{
  margin: 0 auto;
  aspect-ratio: 3 / 1;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.5em;
}

.swap-button-container{
}

.bordered{
  border: 1px solid black;
  height: 8em;
}

#add-button{
  margin: 0 auto;
  width:50%;
}

.App {
  text-align: center;
}

.app-box{
  width: fit-content;
  border: 1px solid rgb(0, 0, 0);
  max-width: 73em;
  margin: 0 auto;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.coin-list-container{
  width: fit-content;
  max-width: 73em;
  margin: 0 auto;
}

.hidden{
  display: none;
}

.coin-list{
  margin: 0 auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.logo-chooser{
  width:75%;
}
